In [53]:
import pandas as pd
# The DataFrame 'df' is not displaying the headers correctly due to the initial row misalignment. 
# We need to adjust this first. Let's reload the data and skip the first row which seems to be incorrect.
df_corrected = pd.read_csv('raw_data/lex.csv', header=None)

# Now we define the first row as the header
df_corrected.columns = df_corrected.iloc[0]
df_corrected = df_corrected.drop(df_corrected.index[0])

# The headers now should be countries, let's transpose the data to make countries as one of the columns
df_transposed = df_corrected.set_index(df_corrected.columns[0]).T
df_transposed.reset_index(inplace=True)
df_transposed.rename(columns={df_transposed.columns[0]: 'year'}, inplace=True)

# Melt the transposed dataframe to get "country, year, GDP per capita" format
df_melted = pd.melt(df_transposed, id_vars=['year'], var_name='country', value_name='life_expectancy')

In [54]:
df_melted.dtypes

year               float64
country             object
life_expectancy    float64
dtype: object

In [55]:
df_melted

         year      country  life_expectancy
0      1800.0  Afghanistan             28.2
1      1801.0  Afghanistan             28.2
2      1802.0  Afghanistan             28.2
3      1803.0  Afghanistan             28.2
4      1804.0  Afghanistan             28.2
...       ...          ...              ...
58991  2096.0     Zimbabwe             70.8
58992  2097.0     Zimbabwe             71.0
58993  2098.0     Zimbabwe             71.1
58994  2099.0     Zimbabwe             71.2
58995  2100.0     Zimbabwe             71.3

[58996 rows x 3 columns]

In [14]:
def reformatGDP(gdp):
    gdp_str = str(gdp).lower()
    if 'k' in gdp_str:
        new_str = gdp_str.replace('k', '')
        return float(new_str) * 1000
    return float(gdp)

In [ ]:
print(reformatGDP(187))

187.0

In [15]:
df_melted['life_expectancy'] = df_melted['life_expectancy'].map(reformatGDP)

In [16]:
df.to_csv('reformatted_data/reformatted_life_expectancy.csv', index=False)

In [58]:
df_melted.head()

     year      country  life_expectancy
0  1800.0  Afghanistan             28.2
1  1801.0  Afghanistan             28.2
2  1802.0  Afghanistan             28.2
3  1803.0  Afghanistan             28.2
4  1804.0  Afghanistan             28.2

In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('reformatted_data/reformatted_life_expectancy.csv')

In [15]:
df = df[df['life_expectancy']>0]

In [75]:
df.isnull().sum()

year              0
country           0
co2_per_capita    0
dtype: int64

In [23]:
value = '1800.0'
int_value = int(float(value))
print(int_value)

1800

In [32]:
df.rename(columns={'life_expectancy': 'gender_ratio_of_mean_years_in_school'}, inplace=True)

In [56]:
def date_to_int(year):
    return int(float(year))

In [59]:
df_melted['year'] = df_melted['year'].map(date_to_int)

In [70]:
df_2024 = df[df['year']==2024]

In [71]:
df_2024

       year       country  gdp_per_capita
224    2024   Afghanistan          1370.0
525    2024        Angola          5820.0
826    2024       Albania         16700.0
1127   2024       Andorra         55200.0
1428   2024           UAE         76900.0
...     ...           ...             ...
57414  2024         Samoa          5650.0
57715  2024         Yemen          1720.0
58016  2024  South Africa         13400.0
58317  2024        Zambia          3370.0
58618  2024      Zimbabwe          2220.0

[195 rows x 3 columns]

In [72]:
df_2024.to_csv('2024ONLY_reformatted_gdp.csv', index=False)

##### Removing outliers for distribution plot

In [4]:
import pandas as pd
import numpy as np

# Example dataset with a 'Value' column
df = pd.read_csv('reformatted_data/reformatted_gdp.csv')

# Function to remove outliers using the IQR method
def remove_outliers(df, column_name):
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 2 * IQR
    upper_bound = Q3 + 2 * IQR
    
    # Filtering the DataFrame based on the IQR criteria
    filtered_df = df[(df[column_name] >= lower_bound) & (df[column_name] <= upper_bound)]
    return filtered_df

# Applying the function to remove outliers
filtered_data = remove_outliers(data, 'Value')

print(f"Original dataset size: {len(data)}")
print(f"Filtered dataset size: {len(filtered_data)}")

Original dataset size: 100
Filtered dataset size: 100

In [12]:
# To iterate through all the years from 1800 to 2024, remove outliers for each year,
# and then concatenate the results into a single DataFrame, follow these steps:

def remove_outliers_by_year_all(df, start_year=1800, end_year=2024):
    """
    Removes outliers for GDP per capita values outside the Interquartile Range (IQR)
    for each year within the specified range.
    
    Parameters:
    - df: DataFrame containing the columns 'year', 'country', and 'gdp_per_capita'
    - start_year: The start year of the range (inclusive)
    - end_year: The end year of the range (inclusive)
    
    Returns:
    - A DataFrame without outliers for the specified range of years
    """
    filtered_data_frames = []  # To store the filtered data for each year
    
    for year in range(start_year, end_year + 1):
        year_data = df[df['year'] == year]
        Q1 = year_data['co2_per_capita'].quantile(0.25)
        Q3 = year_data['co2_per_capita'].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 3 * IQR
        upper_bound = Q3 + 3 * IQR
        filtered_year_data = year_data[(year_data['co2_per_capita'] >= lower_bound) & 
                                       (year_data['co2_per_capita'] <= upper_bound)]
        filtered_data_frames.append(filtered_year_data)
    
    # Concatenate all the yearly filtered data into one DataFrame
    filtered_data = pd.concat(filtered_data_frames)
    return filtered_data

# Applying the function to the entire dataset
gdp_df = pd.read_csv('reformatted_data/reformatted_co2.csv')
gdp_df['co2_per_capita'] = pd.to_numeric(gdp_df['co2_per_capita'], errors='coerce')
filtered_gdp_all_years = remove_outliers_by_year_all(gdp_df)

# Display the shape of the original and the filtered dataset to compare
original_shape = gdp_df.shape
filtered_shape = filtered_gdp_all_years.shape

original_shape, filtered_shape

((43262, 3), (39742, 3))

In [13]:
filtered_gdp_all_years.to_csv('reformatted_data/OUTLIERS_REMOVED_reformatted_co2.csv', index=False)

In [7]:
gdp_df = pd.read_csv('reformatted_data/reformatted_gdp.csv')

In [8]:
co2_df = pd.read_csv('reformatted_data/reformatted_CO2.csv')

In [9]:
life_expectancy_df = pd.read_csv('reformatted_data/reformatted_life_expectancy.csv')

In [10]:
# Merge the GDP and life expectancy DataFrames first
merged_df1 = pd.merge(gdp_df, life_expectancy_df, on=['country', 'year'], how='outer')

# Merge the resulting DataFrame with the CO2 emissions DataFrame
final_merged_df = pd.merge(merged_df1, co2_df, on=['country', 'year'], how='outer')

# Display the first few rows of the final merged DataFrame
final_merged_df.head()

   year      country  gdp_per_capita  life_expectancy co2_per_capita
0  1800  Afghanistan           599.0             28.2          0.001
1  1801  Afghanistan           599.0             28.2          0.001
2  1802  Afghanistan           599.0             28.2          0.001
3  1803  Afghanistan           599.0             28.2          0.001
4  1804  Afghanistan           599.0             28.2          0.001

In [11]:
final_merged_df.to_csv('reformatted_data/reformatted_all.csv', index=False)

In [14]:
df = pd.read_csv('reformatted_data/reformatted_all.csv')

In [18]:
df.shape

(58918, 5)

In [15]:
df.isnull().sum()

year                   0
country                0
gdp_per_capita       223
life_expectancy     1584
co2_per_capita     15656
dtype: int64

In [19]:
df = df.dropna()

In [20]:
df.shape

(41986, 5)

In [21]:
df.to_csv('reformatted_data/reformatted_all.csv', index=False)