In [3]:
import pandas as pd
# The DataFrame 'df' is not displaying the headers correctly due to the initial row misalignment. 
# We need to adjust this first. Let's reload the data and skip the first row which seems to be incorrect.
df_corrected = pd.read_csv('data/gdp_pcap.csv', header=None)

# Now we define the first row as the header
df_corrected.columns = df_corrected.iloc[0]
df_corrected = df_corrected.drop(df_corrected.index[0])

# The headers now should be countries, let's transpose the data to make countries as one of the columns
df_transposed = df_corrected.set_index(df_corrected.columns[0]).T
df_transposed.reset_index(inplace=True)
df_transposed.rename(columns={df_transposed.columns[0]: 'year'}, inplace=True)

# Melt the transposed dataframe to get "country, year, GDP per capita" format
df_melted = pd.melt(df_transposed, id_vars=['year'], var_name='country', value_name='GDP per capita')

# Checking the transformed dataframe
df_melted.head(gdp)

   year      country GDP per capita
0  1800  Afghanistan            599
1  1801  Afghanistan            599
2  1802  Afghanistan            599
3  1803  Afghanistan            599
4  1804  Afghanistan            599

In [6]:
df_melted.dtypes

year              object
country           object
GDP per capita    object
dtype: object

In [60]:
def reformatGDP(gdp):
    gdp_str = str(gdp).lower()
    if 'k' in gdp_str:
        new_str = gdp_str.replace('k', '')
        return float(new_str) * 1000
    return float(gdp)

In [49]:
def test(gdp):
    gdp_str = str(gdp)
    if 'K' in gdp_str:
        return gdp_str + '!'
    return gdp_str + '!'

In [36]:
print(reformatGDP(187))

187.0

In [61]:
df_melted['GDP per capita'] = df_melted['GDP per capita'].map(reformatGDP)

In [63]:
df_melted.to_csv('reformatted_gdp.csv', index=False)

In [62]:
df_melted.head()

   year      country GDP per capita  GDP per capita reformatted
0  1800  Afghanistan            599                       599.0
1  1801  Afghanistan            599                       599.0
2  1802  Afghanistan            599                       599.0
3  1803  Afghanistan            599                       599.0
4  1804  Afghanistan            599                       599.0